@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --background:       #F5F5EB;    /* bg dark */
    --background-shade: #FFFFFA;    /* bg light */
    --primary:          #192319;    /* font */
    --secondary:        #02586E;    /* green */
    --accent:           #6E0245;    /* purple */
    --highlight:        #FCBF54;    /* yellow */
}

h1, h2 {
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    font-weight: 800;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--primary);
}

p {
    color: var(--primary);
}

p a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none !important;
}

p a:hover {
    color: var(--secondary);
    opacity: .8;
    border-bottom: 1px solid var(--secondary);
}

.name {
    border-bottom: 2px solid var(--secondary);
}

.feature {
    max-height: 150px;
}

.featured-work {
    padding-top: 0px !important;
}

.page {
    background-color: var(--background);
}
.page-navbar.navbar{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--background-shade);
}

.page-navbar .navbar-nav .nav-item a{
    font-weight: 400;
    font-size: 0.9rem;
}

.page-navbar .navbar-nav .nav-item a:hover{
    background-color: var(--highlight);
}

.page-navbar.navbar-light .navbar-nav .nav-link {
    color: var(--primary);
    padding: 0 1rem;
}

.page-navbar .logo{
    color: var(--primary);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.page-navbar.fixed-top + .page{
    padding-top: 30px;
}

.gradient{
    background-color: white;
}

.cv-block.block-intro{
    text-align: left;
    margin: auto;
    background-color: var(--highlight);
}

.cv-block.block-intro .about{
    max-width: 800px;
    margin: auto;
}

.cv-block.block-intro p{
    font-size: 1.1em;
    font-weight: 400;
}

.cv-block.block-intro .avatar{
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 5px;
}

.exp-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
    border-radius: 100px;
    margin-bottom: 12px;
}

.cv-block.info{

}

.cv-block.info h2{
    margin-bottom: 70px;
}

.cv-block.info h3{
    font-size: 1.3rem;
}

.cv-block.info .group{
    max-width: 800px;
    margin: auto;
}

#skills {
    max-width: inherit;
}

#features {
    max-width: inherit;
}

.cv-block ul{
    list-style-type: circle;
    margin-top: -15px;
}

.info-card ul{
    list-style-type: circle;
    margin-left: -18px;
}

.cv-block.info .group:not(:first-child){
    margin-top: 90px;
}

.cv-block.info .group .period{
    font-size: 0.8rem;
    float: none;
    font-weight: 600;
    margin-top: 4px;
    color: var(--primary);
    opacity: 0.8;
    text-align: right;
}

.cv-block.info .group .organization{
    font-size: 1em;
    background-color: var(--highlight);
    display: inline-block;
    padding: 2px 8px;
}

.cv-block.info .group .item{
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.cv-block.info .group h2 + .item{
    padding-top:25px;
    border-top: 1px solid #ddd;
}

.cv-block.info .group .item .row{
    margin-bottom: 5px;
}

.cv-block.info .experience h3,
.cv-block.info .education h3{
    font-weight: 600;
}

.cv-block .info-card{
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 5px;
    background-color: var(--background-shade);
}

.cv-block .info-card h2{
    margin-top: 0;
    margin-bottom: 24px !important;
    font-size: 1.4rem;
}

.cv-block .info-card.skills h3{
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 600;
}

.cv-block .info-card.contact-info .icon{
    font-size: 1.3em;
    color: var(--primary);
    position: relative;
    bottom: 4px;
}

.cv-block.info .hobbies p{
    max-width: 600px;
    margin: auto;
    font-size: 1.2em;
}

.page-footer{
    padding-top: 32px;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-bottom: 20px;
}

.page-footer a{
    display: inline-block;
    margin: 0px 10px;
    font-size: 18px;
}

.page-footer .links{
    display: inline-block;
}

.page-footer .social-icons{
    margin-top: 20px;
    margin-bottom: 16px;
}

.page-footer .social-icons a{
    font-size: 16px;
    font-weight: 600;
    margin: 0 3px;
    color: #ffffff;
    border: 1px solid var(--accent);
    opacity: 1;
    border-radius: 50%;
    width: 36px;
    display: inline-block;
    height: 36px;
    text-align: center;
    background-color: var(--accent);
    line-height: 35px;
}

.page-footer .social-icons a:hover{
    opacity: 0.8;
    text-decoration: none;
}

.block-intro .social-icons{
    margin: 20 0px;
}

.block-intro .social-icons a{
    font-size: 14px;
    font-weight:  600;
    margin: 0 3px;
    color: #ffffff;
    border: 1px solid var(--accent);
    opacity: 1;
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    background-color: var(--accent);
    line-height: 29px;
}

.block-intro .social-icons a:hover{
    opacity: 0.8;
    text-decoration: none;
}

@media (min-width: 768px) {

    .cv-block {
        padding-bottom: 120px;
        padding-top: 120px; 
    }

    .cv-block.info .group .period {
        float: right; 
    }
}

@media (min-width: 576px){
    .navbar {
        padding-top: 1.2rem;
        padding-bottom:1.2rem;
    }

    .portfolio-navbar.fixed-top + .page{
        padding-top: 6rem;
    }
}

@media (max-width:  768px){
    .avatar {
        max-height: 350px;
    }

    .nav-item {
        padding: 1rem;
        text-align: right;
    }
}
